<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Bewerk pagina</h1>
</div>
<div class="wrapper-md">
  <div class="panel panel-default">
	  <form name="form-contact" class="form-validation">
	    <div class="panel-default">
	      <div class="panel-heading">
				<span class="h4">Bewerk pagina</span>
				<div class="btn btn-default btn-xs pull-right" ng-click="goto(page.route)">Bekijk pagina</div>
	      </div>
	      <div class="panel-body">
	        <p class="text-muted">Need support? please fill the fields below.</p>                        
	          <div class="form-group pull-in clearfix">
	            <div class="col-sm-6">
	              <label>Titel</label>
	              <input type="text" class="form-control" placeholder="Name" ng-model="page.title" required >
	            </div>
	            <div class="col-sm-6">
	              <label>Naam</label>
	              <input type="text" class="form-control" placeholder="Name" ng-model="page.name" required >
	            </div>
				</div>
	          <div class="form-group pull-in clearfix">
	            <div class="col-lg-12">
	              <label>Route</label>
	              <input type="text" class="form-control" placeholder="Route (bijvoorbeeld: home)" ng-model="page.route">
	            </div>
	          </div>
				<div class="form-group pull-in clearfix">
					<div class="col-sm-6">
						<label>Zichtbaar in het menu:</label>
		            <div>
			            <label class="i-switch m-t-xs m-r">
			              <input type="checkbox" ng-model="page.nav">
			              <i></i>
							</label>
						</div>
					</div>
					<div class="col-sm-6">
						<label>Actief:</label>
		            <div>
			            <label class="i-switch m-t-xs m-r">
			              <input type="checkbox" ng-model="page.active">
			              <i></i>
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label>Tekst</label>
					<textarea class="form-control" rows="6" placeholder="Type your message" ng-model="page.text"></textarea>
				</div>
				<div class="form-group">
					<div class="col-lg-12 no-padder m-t-xs m-b-xs">
						<span>Blokken</span>
						<div class="btn btn-default btn-xs pull-right">Toevoegen</div>
					</div>
					<div class="col-lg-12 no-padder">
			      <div ui-jq="nestable" class="dd" style="max-width:100%;">
			        <ol class="dd-list">
			          <li ng-repeat="block in page.blocks" class="dd-item dd3-item" data-id="13">
									<div class="dd-handle dd3-handle">Drag</div>
									<div class="dd3-content">
						        <div>
						        	{{block.block.name}}
						          <button class="btn btn-default btn-xs pull-right" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed" ng-show="block.block.settings == '1'">Instellingen</button>
						        </div>
						        <div collapse="isCollapsed" class="panel-body no-padder m-t" ng-show="block.block.settings == '1'">
					            <div ng-repeat="(key, setting) in block.block.settings_template" class="m-b-sm">
					              <label>{{setting.name}}</label>
					              <input type="text" class="form-control" placeholder="{{setting.name}}" ng-model="block.settings[key]">
					            </div>
						        </div>
									</div>
			          </li>
			        </ol>
			      </div>
			    </div>
				</div>
	      </div>
	      <footer class="panel-footer text-right bg-light lter">
	        <button type="submit" class="btn btn-success" ng-click="submit()">Opslaan</button>
	      </footer>
	    </div>
	  </form>
  </div>
</div>